

<div class="wrapper wrapper-full-page">
  <div class="page-header lock-page header-filter" style="background-image: url('./assets/img/lock.jpg'); background-size: cover; background-position: top center;">
    <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->
    <div class="container"  >
      <div class="row">
        <div class="col-md-4 ml-auto mr-auto">
          <div class="card card-profile text-center card-hidden">
            <div class="card-header-info">
              <div class="card-avatar">
                <a href="#pablo">
                    <img src="./assets/img/faces/avatar.jpg" *ngIf="auth" >
                    <img src="./assets/img/faces/card-profile1-square.jpg" *ngIf="!auth">
                </a>
              </div>
            </div>
            <div class="card-body" >
              <h4 class="card-title">{{username}}</h4>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Ingrese contraseña" type="password">
              </mat-form-field>
            </div>
            <div class="card-footer justify-content-center">
              <a (click)='login()'class="btn btn-info btn-round">Entrar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer ">
    <div class="container">
      <nav class="pull-left">
        
      </nav>
      <div class="copyright pull-right">
        &copy;
          {{test | date: 'yyyy'}}, realizado por
        <a href="https://www.promad911.com/" target="_blank"> </a> PROMAD.
      </div>
    </div>
  </footer>
</div>
