<div class="modal fade" id="vehiculosModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Datos del vehículo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Inicia modal Body -->
      <div class="modal-body">
        <div class="envolventeAgregarVehiculo" id="envolventeAgregarVehiculo">
          <div class="row content p-3" >
            <div class="col-md-4">
              <label class="etiqueta">Tipo de auto:</label>
              <br>
              <ng-select class="selector" [items]="itemsSelectTipo"
                         bindLabel="nombre_tipo"
                         bindValue="id_tipo_vehiculo"
                         placeholder="Selecciona un tipo de auto"
                         [(ngModel)]="model.selectedTipo"
              >
              </ng-select>
            </div>
            <div class="col-md-4">
              <label class="etiqueta">Marca:</label>
              <br>
              <ng-select class="selector" [items]="itemsSelectMarca"
                         bindLabel="marca"
                         bindValue="id_marca"
                         placeholder="Selecciona una marca"
                         [(ngModel)]="model.selectedMarca"
              >
              </ng-select>
            </div>
            <div class="col-md-4">
              <label class="etiqueta">Modelo:</label>
              <br>
              <ng-select class="selector" [items]="itemsSelectModelo"
                         bindLabel="modelo"
                         bindValue="id_modelo"
                         placeholder="Selecciona un modelo"
                         [(ngModel)]="model.selectedModelo"
              >
              </ng-select>
            </div>
            <div class="col-3">
              <label class="etiqueta">Color:</label>
              <br>
              <ng-select class="selector" [items]="itemsSelectColor"
                         bindLabel="nombre_color"
                         bindValue="id_color"
                         placeholder="Selecciona un color"
                         [(ngModel)]="model.selectedColor"
              >
              </ng-select>
            </div>
            <div class="col-md-4">
              <label class="etiqueta">Placa</label>
              <br>
              <input type="text" class="cajaTexto" name="placa" [(ngModel)]="model.placa"/>
            </div>
            <div class="col-md-4">
              <label class="etiqueta">Número de serie:</label>
              <br>
              <input type="text" class="cajaTexto" name="numSerie" [(ngModel)]="model.numSerie"/>
            </div>
            <div class="col-md-4">
              <label class="etiqueta">Año:</label>
              <br>
              <input type="text" class="cajaTexto" name="numSerie" [(ngModel)]="model.Year"/>
            </div>
            <div class="col-md-4">
              <label class="etiqueta">Rastreo:</label>
              <br>
              <ng-select class="selector" [items]="itemsSelectRastreo"
                         bindLabel="nombre_estatus_rastreo"
                         bindValue="id_estatus_rastreo"
                         placeholder="Selecciona rastreo"
                         [(ngModel)]="model.selectedRastreo"
              >
              </ng-select>
            </div>
            <div class="col-md-4">
              <label class="etiqueta">Antigüedad:</label>
              <br>
              <ng-select class="selector" [items]="itemsAntiquity"
                         bindLabel="name_antiquity"
                         bindValue="name_antiquity"
                         placeholder="Selecciona antigüedad"
                         [(ngModel)]="model.antiguedad"
              >
              </ng-select>
            </div>
            <div class="col">
              <label class="etiqueta">Señas particulares:</label>
              <br>
              <textarea cols="" rows="" class="areaTexto" name="señasPart" [(ngModel)]="model.signs"></textarea>
            </div>
            <br>
            <br>
            <br>
            <div class="row contenedorBotones p-3">
              <div class="col-md-12">
                <button type="button" class="btn btn-info" (click)="insertAuto()">Agregar</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <!-- Inicia EditarVehiculo -->
        <div class="EditarAuto hide" id="EditarAuto">
          <h3>Registro a editar</h3>
          <div class="row content p-3">
            <div class="col-md-4">
              <label class="etiqueta">Tipo de auto:</label>
              <br>
              <ng-select class="selector" [items]="itemsSelectTipo"
                         bindLabel="nombre_tipo"
                         bindValue="id_tipo_vehiculo"
                         placeholder="Selecciona un tipo de auto"
                         [(ngModel)]="model.selectedTipo"
              >
              </ng-select>
            </div>
            <div class="col-md-4">
              <label class="etiqueta">Marca:</label>
              <br>
              <ng-select class="selector" [items]="itemsSelectMarca"
                         bindLabel="marca"
                         bindValue="id_marca"
                         placeholder="Selecciona una marca"
                         [(ngModel)]="model.selectedMarca"
              >
              </ng-select>
            </div>
            <div class="col-md-4">
              <label class="etiqueta">Modelo:</label>
              <br>
              <ng-select class="selector" [items]="itemsSelectModelo"
                         bindLabel="modelo"
                         bindValue="id_modelo"
                         placeholder="Selecciona un modelo"
                         [(ngModel)]="model.selectedModelo"
              >
              </ng-select>
            </div>
            <div class="col-3">
              <label class="etiqueta">Color:</label>
              <br>
              <ng-select class="selector" [items]="itemsSelectColor"
                         bindLabel="nombre_color"
                         bindValue="id_color"
                         placeholder="Selecciona un color"
                         [(ngModel)]="model.selectedColor"
              >
              </ng-select>
            </div>
            <div class="col-md-4">
              <label class="etiqueta">Placa</label>
              <br>
              <input type="text" class="cajaTexto" name="placa" [(ngModel)]="model.placa"/>
            </div>
            <div class="col-md-4">
              <label class="etiqueta">Número de serie:</label>
              <br>
              <input type="text" class="cajaTexto" name="numSerie" [(ngModel)]="model.numSerie"/>
            </div>
            <div class="col-md-4">
              <label class="etiqueta">Año:</label>
              <br>
              <input type="text" class="cajaTexto" name="numSerie" [(ngModel)]="model.Year"/>
            </div>
            <div class="col-md-4">
              <label class="etiqueta">Rastreo:</label>
              <br>
              <ng-select class="selector" [items]="itemsSelectRastreo"
                         bindLabel="nombre_estatus_rastreo"
                         bindValue="id_estatus_rastreo"
                         placeholder="Selecciona rastreo"
                         [(ngModel)]="model.selectedRastreo"
              >
              </ng-select>
            </div>
            <div class="col-md-4">
              <label class="etiqueta">Antigüedad:</label>
              <br>
              <ng-select class="selector" [items]="itemsAntiquity"
                         bindLabel="name_antiquity"
                         bindValue="name_antiquity"
                         placeholder="Selecciona antigüedad"
                         [(ngModel)]="model.antiguedad"
              >
              </ng-select>
            </div>
            <div class="col">
              <label class="etiqueta">Señas particulares:</label>
              <br>
              <textarea cols="" rows="" class="areaTexto" name="señasPart" [(ngModel)]="model.signs"></textarea>
            </div>
          </div>
          <div class="row contenedorBotones p-3">
            <div class="col-md-12">
              <button type="button" class="botonModal btn btn-primary" id="bntGuardarEditarArma" (click)="save()">Guardar</button>
              <button type="button" class="botonModal btn btn-secondary" id="bntCancelarEditarArma" (click)="close()">Cancelar</button>
            </div>
          </div>
        </div>
        <!--termina envolventeEditarArma   -->
      </div>
      <div class="mat-elevation-z8 data-table tabla-auto" id="tabla-auto">
        <table mat-table [dataSource]="dataSource" class="tabla100">

          <!-- Position Column -->
          <ng-container matColumnDef="nombre_tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo vehículo </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre_tipo}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="marca">
            <th mat-header-cell *matHeaderCellDef> Marca </th>
            <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="modelo">
            <th mat-header-cell *matHeaderCellDef> Modelo </th>
            <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="numero_placa">
            <th mat-header-cell *matHeaderCellDef> Numero de placa </th>
            <td mat-cell *matCellDef="let element"> {{element.numero_placa}} </td>
          </ng-container>

          <ng-container matColumnDef="numero_serie">
            <th mat-header-cell *matHeaderCellDef> Numero de serie </th>
            <td mat-cell *matCellDef="let element"> {{element.numero_serie}} </td>
          </ng-container>

          <ng-container matColumnDef="nombre_color">
            <th mat-header-cell *matHeaderCellDef> Color </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre_color}} </td>
          </ng-container>

          <ng-container matColumnDef="antiguedad">
            <th mat-header-cell *matHeaderCellDef> Antigüedad </th>
            <td mat-cell *matCellDef="let element"> {{element.antiguedad}} </td>
          </ng-container>

          <ng-container matColumnDef="anio">
            <th mat-header-cell *matHeaderCellDef> Año </th>
            <td mat-cell *matCellDef="let element"> {{element.anio}} </td>
          </ng-container>

          <ng-container matColumnDef="senias_particulares">
            <th mat-header-cell *matHeaderCellDef> Señas particulares </th>
            <td mat-cell *matCellDef="let element"> {{element.senias_particulares}} </td>
          </ng-container>

          <ng-container matColumnDef="nombre_estatus_rastreo">
            <th mat-header-cell *matHeaderCellDef> Rastreo </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre_estatus_rastreo}} </td>
          </ng-container>

          <ng-container matColumnDef="Editar">
            <th mat-header-cell *matHeaderCellDef> Editar </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="editAuto(element)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="Eliminar">
            <th mat-header-cell *matHeaderCellDef>Eliminar</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="deleteAuto(element)">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info">Aceptar</button>
        <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
