

 <div  >
  <!-- <div id="btnColapsar" class="btnColapsar"><i class="fas fa-chevron-left"></i></div> -->
  <div class="contenidoRegistro">
      <h3>Registro de llamada</h3>
      <label class="etiqueta"><span class="requerido">* </span>Motivo:</label><br />
      <ng-select [disabled]="disableMotivos" class="selector" id="selectMotivo" [items]="itemsSelectMotivos"
                                  (change)="getInstituciones();"
                                  bindLabel="nombre_motivo"
                                  searchable="true"
                                  placeholder="Selecciona un motivo"
                                  [searchFn]="customSearchFn"
                                  [(ngModel)]="eventoTmp.motivo"
                                  notFoundText="No se encontró">
              </ng-select>
 <div class="contDescripcion">
            <label class="etiqueta"><span class="requerido">* </span>Descripci&oacute;n:</label><br />

            <form (keydown)="sendDescripcion($event)" method="POST">
                <textarea  id="ev_descripcion" name="txtDescripcion" cols="" rows="" class="txtDescripcion textarea">
                </textarea>
            </form>

 </div>
 <div class="contCorporacion"  [style.display]="hideCorporacion?'none':'inherit'">
    <hr />
          <h3>Corporaci&oacute;n</h3>
            <div  [style.display]="eventoTmp.idEvento==null?'inherit':'none'" *ngFor="let institucion of itemsSelectInstituciones" >
                        <div (click)="selectInstitucion($event,institucion.id_institucion);" >
                            <img class="envIcnCorporacion" alt="NO IMAGE"  [src]="'../assets/img/images/corporaciones/' + institucion.url_imagen"/>
                        </div>
           </div>
 </div>
 <div class="contPrioridad" [style.display]="hideCorporacion?'none':'inherit'">
          <hr />
          <h3>Prioridad <label>Folio:&nbsp;</label><span id="id_evento">{{eventoTmp.idEvento}}</span></h3>


            <div class="iconosCorporacion" [style.display]="eventoTmp.idEvento==null?'inherit':'none'" >

            <ng-template #popTitle>Recomendada:</ng-template>
            <ng-template #popContent > Recomendada:<br><b>{{popPrioridad}}</b></ng-template>
            <button id="button_pop"
              type="button" class="btn mr-2" [hidden]="true"
              [disabled]="noPopover"
              [ngbPopover]="popContent" [popoverTitle]="popTitle"
              triggers="manual" #p1="ngbPopover" (click)="doClick(p1)"> POP </button>
              <div [autoClose]="false"  triggers="manual"  popoverClass="popoverCustom" id="ppover" #p1="ngbPopover"  [ngbPopover]="popContent" placement="right" > </div>

              <a (click)="  setPrioridad('URGENTE')" id="prioridadRojo" class="envIcnPrioridadRojo" title="Urgente">
                <img [src]="imgurgenteACT" width="45" height="45" alt="Urgente">
              </a>
              <a (click)="setPrioridad('RAPIDA')" id="prioridadAmarillo" class="envIcnPrioridadAmarillo" title="R&aacute;pida">
                <img [src]="imgrapidoACT" width="45" height="45" alt="R&aacute;pida">
              </a>
              <a (click)="setPrioridad('NORMAL')" id="prioridadVerde" class="envIcnPrioridadVerde" title="Normal">
                <img [src]="imgnormalACT"   width="45" height="45" alt="Normal"/>
              </a>

            </div>


        </div>
        <div class="infoComplementa" [style.display]="eventoTmp.idEvento==null?'none':'inherit'">
          <hr />
          <h3>Informaci&oacute;n complementaria</h3>
            <button type="button" class="icnPersonasInv" data-toggle="modal" data-target="#personasModal" title="Personas Involucradas">
              <span class="infoPersonas"></span>
            </button>
            <button type="button" class="icnAutosInv" data-toggle="modal" data-target="#vehiculoModal" title="Autos Involucrados">
              <span class="infoAutos"></span>
            </button>
            <button type="button" class="icnDenuncianteInv" data-toggle="modal" data-target="#ejemploModal" title="Datos del denunciante">
              <span class="infoDatos"></span>
            </button>
            <button type="button" class="icnArmasInv" data-toggle="modal" data-target="#armasModal" title="Armas Involucradas">
              <span class="infoArmas"></span>
            </button>
        </div>
        <div class="requerido">
          <hr />
          * <span>Requerido </span>
        </div>
 <div class="contenedorBotones" [style.display]="hideCorporacion?'none':'inherit'">
 <button (click)="callReset();" id="btnAceptarEvento" type="reset" class="btn btn-primary">Aceptar</button>
 </div>
  <button  (click)="mapatest();" >RESET MAPA</button>
 </div>
 </div>
 <!--envolventeDatosHtml -->

        <button [hidden]="true" class="hide" (click)="siguienteLlamada();" id="button_pizq_reset">reset</button>
        <button [hidden]="true" class="hide" (click)="enableMotivos();" id="button_motivo">enableMotivo</button>

 <p>


 </p>
