@import "../../../../assets/css/estiloGeneral.css";


@import "../../../../assets/css/selectRegistrollamada.css";




/* CSS FOR POPOVER*/
.popoverCustom {
     background: Khaki;
}
.popover.popoverCustom .arrow {
   left: -19% !important;
   z-index: -1000;

}

/* CSS FOR TEXT PRIORIDAD*/


.URGENTE_text{
 color: red;
}

.RAPIDA_text{
 color: gold;
}
.NORMAL_text{
 color: LawnGreen;
}
