<div class="modal fade" id="llamadaNoProcedente" tabindex="-1" role="dialog" data-backdrop="static"
    data-keyboard="false" data-target=".bd-example-modal-xl">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Registrar tipo de llamada no procedente</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Tipo de llamada:</h5>
                <div class="list-group">
                    <a href="javascript:void(0)" 
                       *ngFor="let tipoLlamada of tipoLlamadaComun" 
                       class="list-group-item list-group-item-action"
                       (click)="eventoClick(tipoLlamada.id_tipo_no_procedente)"
                       (dblclick)="eventoDobleClick(tipoLlamada.id_tipo_no_procedente)">
                        {{tipoLlamada.nombre}}
                    </a>
                </div>
                <br>
                <span id="validar" *ngIf="validar">
                    <p>*Debes seleccionar un tipo de llamada</p>
                </span>
                <div class="observacionesConsultaLlamada">
                    <h5>Observaciones:</h5>
                    <textarea class="txtDescripcion textarea" [(ngModel)]="observacionLlamada"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button id="buttonAceptar" type="button" class="btn btn-info"
                    (click)="setLlamadaComun()">Aceptar</button>
                &nbsp;<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>