<nav #navbar class="navbar navbar-expand-lg navbar-transparent  navbar-absolute">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-minimize">
        <button mat-raised-button (click)="minimizeSidebar()" class="btn btn-just-icon btn-white btn-fab btn-round">
          <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
          <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
        </button>
      </div>
      <!-- <a class="navbar-brand" href="{{getPath()}}"> {{getTitle()}}</a> -->
      <app-inicio-llamada *ngIf="auth" ></app-inicio-llamada>
    </div>
  <button mat-button class="navbar-toggler btn-no-ripple" type="button" (click)="sidebarToggle()">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="temporizador" *ngIf="auth" >
        <label>Transmisi&oacute;n:</label><span class="crroIzquierda">00:00:00</span><span
            class="cronometroDerecha">00:00:00</span> <br />
        <div class="reloj">
            <p id="contador"><span id="minuto">0</span>:<span id="segundo">55</span></p>
        </div>
        <label>Captura:</label><span class="cronometroIzquierda">00:00:00</span><span
            class="cronometroDerecha">00:00:00</span>
    </div>

    <div class="contIconosMenu"  *ngIf="auth" >
      <a id="botonPuto" role="button" data-toggle="modal" data-target="#llamadaNoProcedente" title="Llamada comun"><img
  src="assets/images/icnLlamadaComun2.svg" alt="Llamada comun"></a>
      <a href="#" data-toggle="modal" data-target="#ejemploModal" title="Llamada recurrente"><img
          src="assets/images/icnLlamadaIncidencia.svg" alt="Llamada comun"></a>
      <a data-backdrop="static" data-keyboard="false"  role="button"  data-toggle="modal" data-target="#modalConsultaLlamada" title="Consultar llamada"><img
        (click)="getMotivosConsultaLlamadas();"   src="assets/images/icnConsultaLlamada.svg" alt="Consultar Llamada"></a>
      <a href="#" data-toggle="modal" data-target="#modalRastreoVehiculo" title="Rastreo de vehículo">
        <img src="assets/images/icnRastreoVehiculo.svg" alt="Rastreo de vehículo">
      </a>
      <a id="btn_tel_emergencia"  data-backdrop="static" data-keyboard="false"  role="button"  data-toggle="modal" data-target="#modalTelefonosEmergencia" title="Telefonos Emergencia">
        <img
         src="assets/images/icnTelEmergencia.svg" alt="Telefonos Emergencia"></a>

      
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">

      <ul class="navbar-nav"  *ngIf="auth" >
        <li class="nav-item">
          
           <button type="button" class="btn btn-link" (click)="cambioMapa();"><i class="material-icons" >layers3</i></button>    


          <!--
          <a class="nav-link" href="" >
            <a  routerLink="{{urlMapa}}" routerLinkActive="active-link"   (click)="cambioMapa()">
            <i class="material-icons" >dashboard</i>
          </a>
            <p>
              <span class="d-lg-none d-md-block">Stats</span>
            </p>
          </a>
         -->
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">notifications</i>
            <span class="notification">5</span>
            <p>
              <span class="d-lg-none d-md-block">Some Actions</span>
            </p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Mike John responded to your email</a>
            <a class="dropdown-item" href="#">You have 5 new tasks</a>
            <a class="dropdown-item" href="#">You're now friend with Andrew</a>
            <a class="dropdown-item" href="#">Another Notification</a>
            <a class="dropdown-item" href="#">Another One</a>
          </div>
        </li>
        <li class="nav-item">

        </li>


      </ul>
      <div class="user">
          <div class="photo">

              <img src="./assets/img/faces/avatar.jpg" *ngIf="auth" >
              <img src="./assets/img/faces/card-profile1-square.jpg" *ngIf="!auth">
          </div>
          <div class="user-info">
              <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                  <span>
                      {{username}}
                      <b class="caret"></b>
                  </span>
              </a>
              <div class="collapse estatusUsuario" id="collapseExample">
                  <ul class="nav">
                      <li class="nav-item">
                          <a  class="nav-link" routerLink="/pages/lock" routerLinkActive="active-link">
                            <i class="fas fa-utensils"></i> Comida
                          </a>
                      </li>
                      <li class="nav-item">
                          <a  class="nav-link" routerLink="/pages/lock" routerLinkActive="active-link">
                            <i class="fas fa-male"></i> Comisi&oacute;n
                          </a>
                      </li>
                      <li class="nav-item">
                          <a  class="nav-link" routerLink="/pages/lock" routerLinkActive="active-link">
                            <i class="fas fa-user-clock"></i> Descanso moment&aacute;neo
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="javascript:void(0)" class="nav-link">
                            <i class="fas fa-user-md"></i> Enfermer&iacute;a
                          </a>
                      </li>
                      <li class="nav-item">
                          <a  class="nav-link" routerLink="/pages/lock" routerLinkActive="active-link">
                            <i class="fas fa-door-open"></i> W. C.
                          </a>
                      </li>
                      <li class="nav-item">
                          <a  class="nav-link" routerLink="/pages/lock" routerLinkActive="active-link">
                            <i class="fas fa-user-friends"></i> Reuni&oacute;n coordinador
                          </a>
                      </li>
                      <li class="nav-item">
                          <a  class="nav-link" routerLink="/pages/lock" routerLinkActive="active-link">
                            <i class="fas fa-chalkboard-teacher"></i> Organizaci&oacute;n
                                        inmediata
                          </a>
                      </li>
                      <li class="nav-item">
                          <a  class="nav-link" routerLink="/pages/lock" routerLinkActive="active-link">
                            <i class="fas fa-users"></i> Junta laboral
                          </a>
                      </li>
                      <li class="nav-item">
                          <a  class="nav-link" routerLink="/pages/lock" routerLinkActive="active-link">
                            <i class="fas fa-utensil-spoon"></i> Desayuno
                          </a>
                      </li>
                      <li class="nav-item">
                          <a  class="nav-link" routerLink="/pages/lock" routerLinkActive="active-link">
                            <i class="fas fa-coffee"></i> Cena
                          </a>
                      </li>
                      <li class="nav-item">
                          <a  class="nav-link" routerLink="/pages/lock" routerLinkActive="active-link">
                            <i class="fas fa-user-cog"></i> Asistencia t&eacute;cnica
                          </a>
                      </li>
                      <li class="nav-item">
                          <a  class="nav-link" routerLink="/pages/login" routerLinkActive="active-link">
                              
                            <i class='fa fa-power-off'></i> Cerrar sesi&oacute;n
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
  </div>
</nav>

<app-consulta-llamada></app-consulta-llamada>
 
<app-telefonos-emergencia></app-telefonos-emergencia>