
        <div class="logo">
          <a class="simple-text logo-mini">
            <div class="logo-img">
                <img src="/assets/img/logoPromad.png"/>
            </div>
          </a>
            <a href="https://www.promad911.com/" class="simple-text logo-normal">
              PROMAD  911
            </a>
         </div>


        <div class="sidebar-wrapper">

          <app-registro-llamada  ></app-registro-llamada>
        </div>

        <!-- termina sidebar-wrapper -->
   <app-grids-llamadas></app-grids-llamadas>
