
<div class="modal fade " id="modalRastreoVehiculo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalRastreoVehiculoLabel">Rastreo de veh&iacute;culo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="contGeneral">
          <div class="container-fluid">
            <header class="row titulo"></header>
            <div class="row content p-3">
              <div class="col-md-3">
                <label class="etiqueta">Folio:</label>
                <br />
                <label>Desde:</label><input name="" type="text" class="cajaTexto" />
                <label>Hasta:</label><input name="" type="text" class="cajaTexto" />
              </div>
              <div class="col-md-3">
                <label class="etiqueta">Fecha:</label>
                <br />
                <label>Desde:</label><input name="" type="text" class="cajaTexto" />
                <label>Hasta:</label><input name="" type="text" class="cajaTexto" />
              </div>
              <div class="col-md-3">
                <label class="etiqueta">Motivo:</label>
                <br />
               <!--<ng-select  class="selector" 
                            id="selectMotivo" 
                            [items]="motivos"
                            bindLabel="nombre_motivo"
                            searchable="true"
                            placeholder="Selecciona un motivo"
                            [(ngModel)]="eventoTmp.motivo"
                            notFoundText="No se encontró">
                </ng-select>
                --> 
              </div>
              <div class="col-md-3">
                <label class="etiqueta">Calle:</label>
                <br />
                <input name="" type="text" class="cajaTexto" />
              </div>
            </div>
            <div class="row content p-3">
              <div class="col-md-3">
                <label class="etiqueta">Colonia:</label>
                <br />
                <input name="" type="text" class="cajaTexto" />
              </div>
              <div class="col-md-3">
                <label class="etiqueta">Tipo de veh&iacute;culo:</label>
                <br />
               <!-- <ng-select  class="selector" 
                            id="selectTipoVehiculo" 
                            [items]="tipoVehiculo"
                            bindLabel="nombre_motivo"
                            searchable="true"
                            placeholder="Selecciona un tipo de vehículo"
                            [(ngModel)]="eventoTmp.motivo"
                            notFoundText="No se encontró">
                </ng-select>
              --> 
              </div>
              <div class="col-md-3">
                <label class="etiqueta">Marca:</label>
                <br />
              <!--  <ng-select  class="selector" 
                            id="selectMarca" 
                            [items]="marca"
                            bindLabel="nombre_motivo"
                            searchable="true"
                            placeholder="Selecciona una marca"
                            [(ngModel)]="eventoTmp.motivo"
                            notFoundText="No se encontró">
                </ng-select>
              --> 
              </div>
              <div class="col-md-3">
                <label class="etiqueta">Modelo:</label>
                <br />
              <!--  <ng-select  class="selector" 
                            id="selectModelo" 
                            [items]="modelo"
                            bindLabel="nombre_motivo"
                            searchable="true"
                            placeholder="Selecciona un modelo"
                            [(ngModel)]="eventoTmp.motivo"
                            notFoundText="No se encontró">
                </ng-select>
              --> 
              </div>
            </div>
            <div class="row content p-3">
              <div class="col-md-3">
                <label class="etiqueta">Placa #:</label>
                <br />
                <input name="" type="text" class="cajaTexto" />
              </div>
              <div class="col-md-3">
                <label class="etiqueta">No. Serie:</label>
                <br />
                <input name="" type="text" class="cajaTexto" />
              </div>
              <div class="col-md-3">
                <label class="etiqueta">Color:</label>
                <br />
              <!--  <ng-select  class="selector" 
                            id="selectColor" 
                            [items]="color"
                            bindLabel="nombre_motivo"
                            searchable="true"
                            placeholder="Selecciona un color"
                            [(ngModel)]="eventoTmp.motivo"
                            notFoundText="No se encontró">
                </ng-select>
              --> 
              </div>
              <div class="col-md-3">
                <label class="etiqueta">Rastreo:</label>
                <br />
              <!--  <ng-select  class="selector" 
                            id="selectRastreo" 
                            [items]="rastreo"
                            bindLabel="nombre_motivo"
                            searchable="true"
                            placeholder="Selecciona un rastreo"
                            [(ngModel)]="eventoTmp.motivo"
                            notFoundText="No se encontró">
                </ng-select>
              --> 
              </div>
            </div>
            <div class="row content p-3">
              <div class="col-md-3">
                <label class="etiqueta">Año:</label>
                <br />
            <!--    <ng-select  class="selector" 
                            id="selectAnio" 
                            [items]="anio"
                            bindLabel="nombre_motivo"
                            searchable="true"
                            placeholder="Selecciona un anio"
                            [(ngModel)]="eventoTmp.motivo"
                            notFoundText="No se encontró">
                </ng-select>
              --> 
              </div>
              <div class="col-md-3">
                <label class="etiqueta">Antig&uuml;edad:</label>
                <br />
             <!--   <ng-select  class="selector" 
                            id="selectAntiguedad" 
                            [items]="antiguedad"
                            bindLabel="nombre_motivo"
                            searchable="true"
                            placeholder="Selecciona una antigüedad"
                            [(ngModel)]="eventoTmp.motivo"
                            notFoundText="No se encontró">
                </ng-select>
              --> 
              </div>
              <div class="col-md-6">
                <label class="etiqueta">Señas particulares:</label>
                <br />
                <textarea name="" cols="" rows="" class="areaTexto"></textarea>
              </div>
            </div>
            <div class="row contenedorBotones p-3">
              <div class="col-12">
                <button type="button" class="botonModal btn btn-primary">Buscar</button>
                <button type="button" class="botonModal btn btn-secondary">Borrar</button>
              </div>
            </div>
            <hr />
            <div class="row content p-3">
              <div class="col-md-4">
                <label class="etiqueta">Rastreo:</label>
                <br />
                <select name="" class="selector">
                  <option>NO ESPECIFICADO</option>
                </select>
              </div>
              <div class="col-md-4">
                <label class="etiqueta">Motivo:</label>
                <br />
                <select name="" class="selector">
                  <option>NO ESPECIFICADO</option>
                </select>
              </div>
              <div class="col-md-4">
                <label class="etiqueta">Observaciones:</label>
                <br />
                <textarea name="" cols="" rows="" class="areaTexto"></textarea>
              </div>
            </div>
            <div class="row p-3">
              <table class="table tablaDataTable" id="tblRastreoVehiculo">
                <thead>
                  <tr>
                    <th></th>
                    <th>Tipo de veh&iacute;culo</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Placa</th>
                    <th>Color</th>
                    <th>Rastreo</th>
                    <th>Seleccionar</th>
                    <th>Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>TIPO DE VEHICULO</td>
                    <td>MARCA DEL VEHICULO</td>
                    <td>MODELO DEL VEHICULO</td>
                    <td>PLACA DEL VEHICULO</td>
                    <td>COLOR DEL VEHICULO</td>
                    <td>RASTREO DEL VEHICULO</td>
                    <td><a href="#"><img src="../images/iconosTablas/icnPaloma.svg" class="icnSvg"/></a></td>
                    <td><a href="#"><img src="../images/iconosTablas/icnCancelar.svg" class="icnSvg"/></a></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>SEDAN</td>
                    <td>VOLKSWAGEN</td>
                    <td>JETTA 2018</td>
                    <td>EGA3425</td>
                    <td>AZUL MARINO</td>
                    <td>RASTREO 123456789</td>
                    <td><a href="#"><img src="../images/iconosTablas/icnPaloma.svg" class="icnSvg"/></a></td>
                    <td><a href="#"><img src="../images/iconosTablas/icnCancelar.svg" class="icnSvg"/></a></td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>SEDAN 4 PUERTAS</td>
                    <td>CHEVROLET</td>
                    <td>AVEO 1998</td>
                    <td>PEE1234</td>
                    <td>PLATA</td>
                    <td>123456789</td>
                    <td><a href="#"><img src="../images/iconosTablas/icnPaloma.svg" class="icnSvg"/></a></td>
                    <td><a href="#"><img src="../images/iconosTablas/icnCancelar.svg" class="icnSvg"/></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row content p-3 menuIconos">
              <div class="col-12 text-right">
                <img src="../images/menu/icnPersonas.svg" />
                <img src="../images/menu/icnAuto.svg" />
                <img src="../images/menu/icnArma.svg" />
                <img src="../images/menu/icnCorporacion.svg" />
                <img src="../images/menu/icnTelefonista.svg" />
                <img src="../images/menu/icnAgregarInfo.svg" />
                <img src="../images/menu/icnEditarInfo.svg" />
                <img src="../images/menu/icnReconocimiento.svg" />
              </div>
            </div>
            <hr />
            <div class="row content p-3">
              <div class="col-md-3">
                <label class="etiqueta">Municipio:</label>
                <br />
                <input name="" type="text" class="cajaTexto" />
              </div>
              <div class="col-md-3">
                <label class="etiqueta">Folio:</label>
                <br />
                <input name="" type="text" class="cajaTexto" />
              </div>
              <div class="col-md-3">
                <label class="etiqueta">Fecha de recepci&oacute;n:</label>
                <br />
                <input type="text" id="fechaRecepcionRastreoVehiculo" class="cajaTexto" />
              </div>
              <div class="col-md-3">
                <label class="etiqueta">Tipo de tel&eacute;fono:</label>
                <br />
                <input name="" type="text" class="cajaTexto" />
              </div> 
            </div>
            <div class="row content p-3">
              <div class="col-md-3">
                <label class="etiqueta">Tel&eacute;fono:</label>
                <br />
                <input name="" type="text" class="cajaTexto" />
              </div>
              <div class="col-md-3">
                <label class="etiqueta">Motivo:</label>
                <br />
                <input name="" type="text" class="cajaTexto" />
              </div>
              <div class="col-md-3">
                <label class="etiqueta">Colonia:</label>
                <br />
                <input name="" type="text" class="cajaTexto" />
              </div>
              <div class="col-md-3">
                <label class="etiqueta">Tiempo:</label>
                <br />
                <input name="" type="text" class="cajaTexto" />
              </div> 
            </div>
            <div class="row content p-3">
              <div class="col-md-3">
                <label class="etiqueta">Ciudad:</label>
                <br />
                <input name="" type="text" class="cajaTexto" />
              </div>
              <div class="col-md-3">
                <label class="etiqueta">Prioridad:</label>
                <br />
                <input name="" type="text" class="cajaTexto" />
              </div>
              <div class="col-md-3">
                <label class="etiqueta">Estatus:</label>
                <br />
                <input type="text" id="datepicker" class="cajaTexto" />
              </div>
              <div class="col-md-3"></div> 
            </div>
            <div class="row content p-3">
              <div class="col-md-6">
                <label class="etiqueta">Lugar:</label>
                <br />
                <textarea name="" cols="" rows="" class="areaTexto"></textarea>
              </div>
              <div class="col-md-6">
                <label class="etiqueta">Descripci&oacute;n del evento:</label>
                <br />
                <textarea name="" cols="" rows="" class="areaTexto"></textarea>
              </div>
            </div>
            <div class="row contenedorBotones p-3">
              <div class="col-12">
                <button type="button" class="botonModal btn btn-primary">Aceptar</button>
                <button type="button" class="botonModal btn btn-primary">Ubicar en el mapa</button>
                <button type="button" class="botonModal btn btn-secondary">Borrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row contenedorBotones">
          <div class="col-12">
            <button type="button" class="botonModal btn btn-primary">Aceptar</button>
            <button type="button" class="botonModal btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>